@font-face {
    font-family: 'm5x7';
    src: url('m5x7.ttf');
}

html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    font-family: 'm5x7', sans-serif;
    font-size: 32px;
}

canvas.fullscreen {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
	overflow: hidden;
	pointer-events: none;
}

h1 {
    color: white;
    padding-left: 20px;
    font-size: 4em;
}
